* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: rgb(54, 54, 54);
}

.container {
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: rgb(248, 248, 248);
}

.card {
  background-color: rgb(244, 244, 244);
  border: 3px solid rgb(206, 206, 206);
  box-shadow: 2px 2px 10px rgb(217, 217, 217);
  border-radius: 5rem;
  width: 90%;
  height: 90%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.profile {
  width: 30%;
  height: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.profile img {
  width: 70%;
  border-radius: 5rem;
}

.profile .contacts {
  display: flex;
  gap: 1rem;
}

.profile .contacts a img {
  height: 3rem;
}

.portfolio {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 3rem;
}

.projects-container, .blogs-container {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.projects-container .content, .blogs-container .content {
  width: 100%;
  height: 20svh;
  display: flex;
  overflow-x: auto;
}

.project-item { 
  flex: 0 0 100%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.project-item img {
  height: 95%;
}

.project-item .text {
  width: 40%;
}

.blog-item {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(198, 198, 198);
}

.blog-item .title {
  font-size: 18px; 
}

.blog-item .post-time {
  font-weight: lighter;
  font-size: 12px;
  color: gray;
}

#image-pop-up-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.8);

  transition: display 0.2s allow-discrete, opacity 0.2s;
} 

.visible-pop-up {
  opacity: 1;
  display: flex;
}

.invisible-pop-up {
  opacity: 0;
  display: none;
}

#image-pop-up {
  height: 90%;
}

@media screen and (max-width: 700px) {
  #image-pop-up {
    height: auto;
    width: 90%;
  }

  .container {
    align-items: flex-start;
    padding: 1rem;
  }

  .card {
    width: 95%;
    flex-direction: column;
    padding: 0;
    height: fit-content;
    padding-bottom: 2rem;
    border-radius: 2rem;
  }

  .profile {
    width: 80%;
  }

  .portfolio {
    width: 100%;
    padding: 0 1rem;
  }

  .portfolio .projects-container, .portfolio .blogs-container {
    border: none;
  }

  .portfolio .projects-container .content, .portfolio .blogs-container .content {
    flex-direction: column;
    gap: 1rem;
    height: fit-content;
  }

  .project-item {
    flex-direction: column;
    align-items: center;
  }

  .project-item img {
    width: 90%;
    height: auto;
  }

  .project-item .text {
    width: 90%;
  }
}